.main {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 100px;
  background-color: rgb(39, 39, 39);
  text-align: start;
}

.main header {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  font-size: 30px;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
  border-image-slice: 1;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.section header {
  margin-top: 20px;
  padding-top: 6px;
  margin-bottom: 20px;
  padding-bottom: 6px;
  font-size: 20px;
  align-self: flex-start;
  justify-self: flex-start;
  text-align: start;
  padding-left: 30px;
  width: 100%;
  border: 1px solid transparent;
  border-left: none;
  border-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.3));
  border-image-slice: 1;
}

.section section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px;
  font-weight: 500;
  color: rgb(200, 200, 200);
}

.highlighted {
  font-weight: 500;
  color: #ffffff;
  margin-left: 5px;
}

.header-upgrades {
  display: flex;
  flex-wrap: wrap;
}

.volume,
.refresh {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.volume-header {
  margin-right: 20px;
}

.single-radio {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.single-radio-radio {
  width: 40px;
  align-self: center;
  height: 20px;
}

.single-radio-label {
  width: 40px;
  align-self: center;
  height: 20px;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: white;
  border: solid 3px white;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
  }
}

.icons-section {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 0 !important;
}