.tooltip {
  position: absolute;
  padding: 5px;
  z-index: 999;
  width: 350px;
  top: 0;
  right: 0;
  height: auto;
  border: solid 2px;
  border: outset;
  border-color: rgb(255, 153, 0);
  background-color: rgb(39, 39, 39);
  color: white;
  text-align: start;
}

.upper-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
  padding: 0 !important;
  min-height: 50px;
  width: 100%;
  border-bottom: solid 1px white;
}

.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgrey;
  width: 100%;
  border-bottom: solid 1px white;
  text-align: center;
  padding: 10px 0px;
}

.lower-section {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 100%;
}

.upper-section .left {
  display: flex;
  flex-direction: row;
  min-width: 175px;
}

.upper-section .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 175px;
}

.tooltip-image {
  width: 50px;
  height: 50px;
}

.tooltip-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 10px;
  min-height: 50px;
  width: 100px;
  font-size: 15px;
}

.tooltip-name {
  width: 125px;
}

.tooltip-owned {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 1px 8px;
  border-radius: 8px;
  background-color: gray;
  font-size: 12px;
}

.tooltip-price-info {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.tooltip-cookie {
  width: 15px;
}

.price-affordable {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
}

.price-worth {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-worth-element {
  font-size: 10px;
}