.upgrade {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-image: url(/public/upgrade-frame.png);
  transition: 0.15s;

  &:hover {
    cursor: pointer;
    filter: brightness(70%);
  }
}

.affordable {
  transition: 0.2s;
  filter: brightness(100%);
}

.not-affordable {
  transition: 0.2s;
  filter: brightness(50%);
}