#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-image: url(/background-2.jpg);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-repeat: repeat;
}

.section-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  width: 500px;
  height: 100vh;
  box-shadow: inset 0 0 20px 15px rgba(0, 0, 0, 0.5);
}

.section-left header {
  margin-top: 15%;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.20);
}

.cookies-production-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.20);
}

.big-cookie {
  margin-top: 10px;
  width: 100%;
  transition: 0.1s;
  border-radius: 50%;
  transform: scale(1.25);
  user-select: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.35);
  }

  &:active {
    transform: scale(1.25);
  }
}

.big-cookie-glow {
  margin-top: 20px;
  border-radius: 50%;
  width: 40%;
  animation: glowing 5s infinite;
}

@keyframes glowing {

  0%,
  100% {
    box-shadow: 0 0 50px 0px white;
  }

  50% {
    box-shadow: 0 0 100px 10px white;
  }
}

.section-middle {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;

  border-right: solid 10px #965425;
  border-left: solid 10px #965425;
  box-shadow: inset 0 0 20px 15px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: center;
  height: 100px;
  border-bottom: 10px solid #965425;
  box-shadow: inset 0 0 20px 15px rgba(0, 0, 0, 0.5);
}

.header-left {
  width: 20%;
}

.header-middle {
  width: 80%;
}

.header-middle header {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.header-right {
  width: 20%;
}

.header-section {
  display: flex;
  flex-direction: column;
}

.header-button {
  height: 50px;
  width: 100%;
  color: white;
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: darkred;
  border: none;
  font-weight: 500;
  font-size: 18px;
  transition: 0.2s;

  &:hover {
    &:hover {
      cursor: pointer;
      filter: brightness(85%);
    }
  }
}

.section-right {
  width: 317px;
  max-height: 100%;
  box-shadow: inset 0 0 20px 15px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.store-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  border-bottom: solid 10px #965425;
}

.upgrades-header {
  display: flex;
  border-bottom: solid 10px #965425;
  width: 100%;
  background-color: rgb(39, 39, 39);
  justify-content: center;
}

.upgrades {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  min-height: 60px;
  max-height: 240px;
  flex-wrap: wrap;
  border-bottom: solid 10px #965425;
  transition: max-height 0.3s ease;

  &:hover {
    max-height: none;
    overflow: auto;
  }
}

.upgrades>* {
  flex-shrink: 0;
}

.buildings-header {
  display: flex;
  border-bottom: solid 10px #965425;
  width: 100%;
  background-color: rgb(39, 39, 39);
  justify-content: center;
}

.buildings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  padding-bottom: 300px;
}

.click-message {
  position: absolute;
  user-select: none;
  animation: moveUp 3s linear;
  font-size: 25px;
  pointer-events: none;
}

.golden-cookie-message {
  position: absolute;
  user-select: none;
  animation: moveUpGc 3s linear;
  font-size: 25px;
  pointer-events: none;
}

@keyframes moveUp {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -500%);
    opacity: 0;
  }
}

@keyframes moveUpGc {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -250%);
    opacity: 0;
  }
}

.big-cookie-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.golden-cookie {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  animation: goldenCookie 13s ease;
  z-index: 999;

  &:hover {
    cursor: pointer;
  }
}

@keyframes goldenCookie {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  40% {
    opacity: 1;
    transform: scale(0.8);
  }

  60% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}